body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

.post {
    background: white;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

.post:hover {
    background: #e6f2ff;
}